<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onForgotPassword()" #forgotPasswordForm="ngForm">
        <h2>Forgot Password</h2>
        <br>
        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="email" 
            id="email" 
            name="email" 
            #email="ngModel"
            ngModel 
            class="form-control"
            placeholder="shortid@csc.com">
        </div>
        <p *ngIf="email.pristine && email.touched">
          Please provide valid email address
        </p>
        <button class="btn btn-primary" type="submit" [disabled]="!forgotPasswordForm.valid">Log In</button>
      </form>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" routerLink='/login'>Back</button>
  </div>
</div>