<div>
    <ul>
        <li ><a class="navbar-brand" routerLink="">Party Picker</a></li>
        <div id="loginSignup" *ngIf="!this.employeeService.loginSuccess">
            <li routerLinkActive="active"><a class="nav-link" routerLink="/login">
              <span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li routerLinkActive="active"><a class="nav-link" routerLink="/signup">
              <span class="glyphicon glyphicon-user"></span> SignUp</a></li>
        </div>
        <div id="logout" *ngIf="this.employeeService.loginSuccess">
            <li  routerLinkActive="active"><a class="nav-link" routerLink="" (click)="onLogout()">
              <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </div>
      </ul>
</div>
