/* You can add global styles to this file, and also import other style files */
input.ng-invalid{
    border: 1px solid red;
}
input.ng-pristine{
    border : 1px solid rgb(184, 174, 174);
}
button:hover,a.btn:hover{
    cursor: pointer;
   }